node_modules

# Vite dev/build artifacts
dist/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS junk
.DS_Store
.vscode

# Built binary
backend/server

# data
backend/data/
backend/olddata/

# other codes for reference
reference_code/
